
 body { 
          background: url(image.jpg) no-repeat center center fixed; 
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
          position: relative;  
     
}
.navbar{
    
    background-color: #0099FF;
    
}

.card{
    
   
    width: 700px;
    margin-left: 350px;
    margin-top: 50px;
    padding-top: 30px;
    text-align: center;
    
}

.card-img{
    
    width: 400px;
    
}
footer{
              
              background-color: #0099FF;
              padding-top: 60px;
              margin-top: 40px;
              width: 100%;
              padding-bottom: 60px;
              text-align: center;
          }
      